{{define "factorPage"}}
<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>因子登録画面</title>
	</head>
	<body>
		<h3>因子登録</h3>
		<p>
			<a href="/">ウマ娘一覧</a>/
			<a href="/uma">ウマ娘登録</a>
		</p>
		<form method="POST" action="/factors">
			<p>
			<input type="text" name="name" required>
			<input type="number" name="star" min="1" max="3" value="1" required>
			<input type="submit" value="送信">
			</p>
		</form>
		<table>
			<tr>
				<th>ID</th><th>名前</th><th>星</th>
			</tr>
			{{range .factorList}}
			<tr>
				<td>{{.ID}}</td><td>{{.Name}}</td><td>{{.Star}}</td>
			</tr>
			{{end}}
		</table>
	</body>
</html>
{{end}}
