{{define "umaPage"}}
<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>ウマ娘一覧</title>
		<link rel="stylesheet" href="/public/css/style.css" type="text/css">
	</head>
	<body>
		<h3>ウマ娘</h3>
		{{template "umaHeader" .}}
		<table>
			<thead>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>評価点</th>
				<th>継承ウマ娘1</th>
				<th>継承ウマ娘2</th>
				<th>青因子</th>
				<th>星</th>
				<th>継承青因子1</th>
				<th>星</th>
				<th>継承青因子2</th>
				<th>星</th>
				<th>赤因子</th>
				<th>星</th>
				<th>継承赤因子1</th>
				<th>星</th>
				<th>継承赤因子2</th>
				<th>星</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{{range .umaList}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Name}}</td>
				<td>{{.Point}}</td>
				<td>{{if .BlueInheritance}} {{.BlueInheritance.Name}} {{end}}</td>
				<td>{{if .RedInheritance}} {{.RedInheritance.Name}} {{end}}</td>
				<td>{{if .BlueFactor}} {{.BlueFactor.Name}} {{end}}</td>
				<td>{{if .BlueFactor}} {{.BlueFactor.Star}} {{end}}</td>
				<td>{{if .BlueInheritance}} {{.BlueInheritance.BlueFactor.Name}} {{end}}</td>
				<td>{{if .BlueInheritance}} {{.BlueInheritance.BlueFactor.Star}} {{end}}</td>
				<td>{{if .RedInheritance}} {{.RedInheritance.BlueFactor.Name}} {{end}}</td>
				<td>{{if .RedInheritance}} {{.RedInheritance.BlueFactor.Star}} {{end}}</td>
				<td>{{if .RedFactor}} {{.RedFactor.Name}} {{end}}</td>
				<td>{{if .RedFactor}} {{.RedFactor.Star}} {{end}}</td>
				<td>{{if .BlueInheritance}} {{.BlueInheritance.RedFactor.Name}} {{end}}</td>
				<td>{{if .BlueInheritance}} {{.BlueInheritance.RedFactor.Star}} {{end}}</td>
				<td>{{if .RedInheritance}} {{.RedInheritance.RedFactor.Name}} {{end}}</td>
				<td>{{if .RedInheritance}} {{.RedInheritance.RedFactor.Star}} {{end}}</td>
				<td><a href="/uma/{{.ID}}">編集</a></td>
			</tr>
			{{end}}
			</tbody>
		</table>
	</body>
</html>
{{end}}
